body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    /* Light gray background color */
    font-family: 'Arial', sans-serif;
    /* Change the font to your desired one */
}

.quote-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a subtle shadow */
}